<footer class="footer mt-auto py-3 bg-dark">
    <div class ="container-fluid footer">
        <div class="row">
            <div class="col-md-6">
                <p>Copyright © 2021 FGJ Computers</p>
            </div>
            <div class="col-md-6 text-md-right">
                <a href="#" class="text-light">Terms of Use</a> 
                <span class="text-muted mx-2" >|</span> 
                <a href="#" class="text-light">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>