{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="col-md-4 container-fluid
     bg-default">

    <h4>Payment Summary</h4>

    <body>
        <th>User</th>
        <th>Order</th>
        <th>Shipping Details</th>
        <tr>
            <td>{%firstname%}
                <br />
                {%lastname%}
            </td>
            <td>
                {% for item in items %}
                {{item.product.name}}
                <br />
                {{item.quantity}}
                <br />
                {% endfor %}
            </td>
            <td>
                {%email%}
                <br />
                {%address1%}
                <br />
                {%address2%}
                <br />
                {%city%}
                <br />
                {%country%}
                <br />
                {%postcode%}
                <br />
                {%payment-method%}
                <br />
            </td>
        </tr>
    </body>


    <hr class="mb-4">

    <a href="{% url 'cart' %}">
        <button class="btn btn-primary bt-lg btn-block" type="submit">Edit Cart</button>
    </a>
    <a href="{% url 'checkout' %}">
        <button class="btn btn-primary bt-lg btn-block" type="submit">Edit Shipping Details</button>
    </a>
    <a href="{% url 'payment_confirmation' %}">
        <button class="btn btn-primary bt-lg btn-block" type="submit">Next</button>
    </a>
</div>

{% endblock content %}