{% extends "store/main.html" %}

{% block content %}
{% load crispy_forms_filters %}
<div class="col-md-4 container-fluid bg-default">
    <h4 class="my-4 text-center">
        Register Your Account
    </h4>

    <form method="POST" action="">
        {% csrf_token %}
        {{form|crispy}}


        {{form.errors}}
        <hr class="mb-4">

        <button class="w-100 btn btn-primary bt-lg btn-block" type="submit">Register</button>
    </form>
    <div class="container-fluid" style="padding-top:20px; padding-bottom: 50px;">
        <p class="text-center">Already have an account?</p>
        <a href="{% url 'register' %}"><button class="w-100 btn btn-lg btn-primary">Login</button></a>
    </div>
    
</div>
{% endblock %}