{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="bg-light p-5 rounded-lg m-3 text-center">
    <h1 class="jumbotron-heading">Monitor</h1>
    <p class="lead text-muted">(Insert description)</p>
</div>
</div>

<div class="container-fluid text-justify">
    <div class="row">
       
        
        <div class="col">
            <!--Product Table-->
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <!--Components-->
                    {% for monitor in monitors %}
                    <tr>
                        <td><img class="thumbnail" src="{{monitor.image.url}}" height="50"><a
                                href="{% url 'product' monitor.id %}" class="link-secondary"> {{monitor.name}}</a></td>
                        <td>PHP {{monitor.price|floatformat:2}}</td>
                        <td><button data-product={{monitor.id}} data-action="add"
                                class="btn btn-success btn-sm ml-3 update-cart">Add-to-Cart</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="col-12">
                <nav aria-label="...">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1<span
                                    class="sr-only">(current)</span></a></li>
                        <li class="page-item ">
                            <a class="page-link" href="#">2 </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</div>
</div>
{% endblock content %}